.not-found-card{
    height: 90vh;
    font-family: "ROboto";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-bottom: 20px;
}
.not-found-img{
    width: 70%;
}
@media screen and (min-width:768px) {
    .not-found-img{
        width: 40%;
    }
}
.not-found-heading{
    color: #3b4856;
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 20px;
}
.not-found-text{
    color: #578e88;
    text-align: center;
    font-size: 15px;
}